{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Agenda</h1>
        <br>
        <p>Sélectionnez un type d'événement</p>
        <form class="form-group" action="{{path('agenda')}}" method="POST">
            <select class="custom-select" name="type">
                <option value="">Tous</option>
                {% for type in types %}
                    <option value="{{type.id}}">{{type.title}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="mt-3 mb-3 btn btn-success">Valider</button>
        </form>  
        <h4>Voici les prochains événements à venir</h4>

        {% for event in events %}
        {% if (event.date > now) or (event.date == now) %}
        <div class="row">
            <div class="card w-100 mt-3 mb-3">
                <img class="card-img-top coverimg" src="{{event.cover}}" alt="Card image cap">
                <div class="card-body">
                    <h5><strong>{{event.name}}</strong>, le {{event.date | date('d/m/Y')}} à {{event.date | date('H')}}h{{event.date | date('i')}}</h5>
                    <p>{{event.place}}</p>
                    <p class="card-text">{{event.description}}</p>
                    <p class="card-text">à partir de {{event.price}}€</p>
                    <p class="card-text"><small class="text-muted">#{{event.type.title}}</small></p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}
